<footer class="text-muted mt-5">
    <!-- Section: Links  -->
    <section>
        <div class="container text-center text-md-start">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <img src="./assets/images/logo.png" class="w-25" alt="logo">
                    </h6>
                    <p>
                        inox Cửa hàng trực tuyến đồ dùng gia dụng, 1 cửa hàng có kiến thức - kinh nghiệm - trải
                        nghiệm
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Về Chúng Tôi
                    </h6>
                    <p>
                        <a href="./index.html" class="text-reset">Trang Chủ</a>
                    </p>
                    <p>
                        <a href="./page/about.html" class="text-reset">Giới Thiệu</a>
                    </p>
                    <p>
                        <a href="./page/contact.html" class="text-reset">Liên Hệ</a>
                    </p>
                    <p>
                        <a href="./page/help.html" class="text-reset">Hỗ Trợ</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Loại Sản Phẩm
                    </h6>
                    <p>
                        <a href="./page/shop.html" class="text-reset">Gia Dụng Phòng Bếp</a>
                    </p>
                    <p>
                        <a href="./page/shop.html" class="text-reset">Gia Dụng Phòng Tắm</a>
                    </p>
                    <p>
                        <a href="./page/shop.html" class="text-reset">Gia Dụng Phòng Khách</a>
                    </p>
                    <p>
                        <a href="./page/shop.html" class="text-reset">Gia Dụng Phòng Ngủ</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Liên Hệ</h6>
                    <p><i class="fas fa-home me-3"></i> Can Tho City, FPT Polytechnic</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        loctvpc06110@fpt.edu.vn
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 84 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> + 84 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4 bg-dark text-gray">
        © 2024 : PC06110 - Thái Văn Lộc
    </div>
    <!-- Copyright -->
</footer>