<header class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
        <a href="./index.html" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="./assets/images/logo.png" alt="logo" class="w-25">
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="./index.html" class="nav-link px-2 link-secondary fw-bold active">Trang Chủ</a></li>
            <li><a href="./page/about.html" class="nav-link px-2 link-secondary fw-bold">Giới Thiệu</a></li>
            <li><a href="./page/shop.html" class="nav-link px-2 link-secondary fw-bold">Sản Phẩm</a></li>
            <li><a href="./page/contact.html" class="nav-link px-2 link-secondary fw-bold">Liên Hệ</a></li>
            <li><a href="./page/help" class="nav-link px-2 link-secondary fw-bold">Hỗ Trợ</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a href="./page/login.html"><button type="button" class="btn btn-outline-secondary me-2">Đăng Nhập</button></a>
            <a href="./page/register.html"><button type="button" class="btn btn-secondary">Đăng Ký</button></a>
        </div>
    </div>
</header>