<header class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between py-3 border-bottom">
        <a href="#!/" class="d-flex align-items-center mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="./assets/images/inoxLogo.png" alt="logo">
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a ng-href="#!/" class="nav-link px-2 link-secondary fw-bold active">Trang Chủ</a></li>
            <li><a ng-href="#!/about" class="nav-link px-2 link-secondary fw-bold">Giới Thiệu</a></li>
            <li><a ng-href="#!/shop" class="nav-link px-2 link-secondary fw-bold">Sản Phẩm</a></li>
            <li><a ng-href="#!/contact" class="nav-link px-2 link-secondary fw-bold">Liên Hệ</a></li>
            <li><a ng-href="#!/help" class="nav-link px-2 link-secondary fw-bold">Hỗ Trợ</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a ng-href="./page/login"><button type="button" class="btn btn-outline-secondary me-2">Đăng Nhập</button></a>
            <a ng-href="./page/register"><button type="button" class="btn btn-secondary">Đăng Ký</button></a>
        </div>
    </div>
</header>